:root{
    --gray-bg: #EFF5F5;
    --gray-shadow: #D6E4E5;
    --orange-accent: #EB6440;
}

body, html {
    font-family: Manrope, Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.container-fluid{
    display: flex;
    justify-content: flex-end;
}

.navbar-nav{
    display: flex;
    gap: 20px;
    margin: 0px 10px 12px 0;
}

.nav-menu-hidden{
    position: absolute;
    right: -500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 100px 0 100px;
    height: 100vh;
    background-color: var(--gray-bg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-menu-hidden > a{
    width: 100%;
    font-size: 2rem;
}

.logo-link{
    position: absolute;
}

.logo-img{
    height: 147px;
    margin: -5px 0 0 5px;
}

/* burger */

.burger{
    display: none;
    margin: 5px 15px 10px 10px;
    z-index: 2;
}
.burger-active{
    position: absolute;
    margin: 5px 15px 10px 10px;
    z-index: 2;
}
.burger-active .bar:nth-child(3){
    rotate: 90deg;
}
.burger-active .bar:nth-child(2){
    rotate: -90deg;
    transform: translateY(10px) translateX(-8px);
}
.burger-active .bar:nth-child(1){
    rotate: 90deg;
    transform: translateY(-20px) translateX(16px);
}

.bar{
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: black;
  }

/* home */

.home{
    margin-top: 150px;
}

h1{
    font-size: 4rem;
    margin: 20px 0 0 5px;
}

.mt-0{
    margin-top: 0;
}

.white-text{
    color: var(--gray-bg);
    padding-bottom: 5px;
}

.bg-orange{
    background-color: var(--orange-accent);
}

h3{
    color: var(--orange-accent);
    margin: 2px 0 0 5px;
}
.avatar {
height: 200px
}

a{
 text-decoration: none;
 color: black;
 margin-top: 10px;
}






@media (max-width: 700px){
    .navbar-nav{
        display: none;
    }
    .burger{
        display: inline-block;
    }
}